#right-container {
    font-size: 16px;
    line-height: 25.875px;

    article {
        padding: 30px 40px;
    }

    p {
        margin: 20px 0px 25px 0px;
        font-family: $default-font;
        font-weight: 400;
        font-style: normal;
        text-align: left;
    }

    h2 {
        font-size: 28px;
        font-family: $title-font;
        font-weight: 400;
        font-style: normal;
        text-align: left;
    }
}
