#right-container {
    article {
        padding: 30px 40px;
    }

    p {
        margin: 20px 0px 25px 0px;
        font-family: $default-font;
        font-weight: 400;
        font-style: normal;
        text-align: left;
    }

    h2 {
        font-family: $title-font;
        font-weight: 400;
        font-style: normal;
        text-align: left;
    }
}
