@import 'variables';
@import 'bootstrap/bootstrap';

body {
    font-family: $default-font;
    font-size: 15px;
    color: #333;

    h1, h2, h3, h4 {
        font-family: $title-font;
    }

    a {
        color: #002B36;
        outline: none;
        text-decoration: none;
    }

    pre {
        padding: 0;
        margin: 30px 0;
        border: none;
        background-color: white;

        code {
            padding: 30px !important;
        }
    }

    del {
        display: none;
    }
}

.post-detail {
  margin: 100px;
}

#left-container {
    @media screen and (max-width: 1200px) {
        width: 100%;
        height: 100px;
        background: #002B36;
        position: absolute;
        left: 0;
        top: 0;
    }
    width: 50%;
    background: #002B36;
    height: calc(100% - 200px);
    /* padding: 30px; */
    position: fixed;
    overflow-y: scroll;
    pre {
        background-color: $code-bg;
        border: none;
        overflow-x: hidden;
        word-wrap: break-word;
        word-break: normal;
        code.hljs {
            @media screen and (max-width: 1200px) {display: none;}
            overflow-x: hidden;

            .hovered {
                background-color: #fafafa;
                color: #333;
                padding: 3px 0;
            }
        }
    }
}


#right-container {
    @media screen and (max-width: 1200px) {
        width: 100%;
        padding: 10px;
        margin-top: 300px;
    }
    width: 50%;
    float: right;
    height: 100%;
    padding: 30px;
    overflow-x: hidden;

    article {
        padding: 20px 40px;
    }

    #disqus_thread {
        padding: 20px 40px;
    }

    p {
        margin-bottom: 40px;
    }

}


#profile {
    @media screen and (max-width: 1200px) {
        width: 100%;
        height: 200px;
        left: 0;
        top: 0;
        padding: 20px;
        margin-top: 100px;
        position: absolute;
    }
    width: 50%;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 20px;
    background: darken($code-bg, 2%);
    height: 200px;

    .avatar {
        display: block;
        position: relative;

        img {
            border: 1px solid darken(#002B36, 5%);
            border-radius: 100%;
            position: absolute;
            left: calc(50% - #{$avatar-width}/2);
            top: -($avatar-width/1.2);
            width: $avatar-width;
            height: auto;
            /* opacity: 0.90; */
        }
    }

    a {
        display: inline-block;
        outline: none;
        color: #E7F2FA;
    }

    .nav {
        font-family: $title-font;
        padding-top: 30px;
        width: 100%;
        text-align: center;
        color: $link-color;
        font-size: 2em;
        ul {
            padding: 0;
            margin: 0;
            li {
                @media screen and (max-width: 1200px) {
                    padding: 10px 5px;
                }

                display: inline-block;
                list-style: none;
                padding: 15px 30px;
                font-variant: small-caps;
            }
        }
    }

    .social {
        text-align: center;
        color: $link-color;
        font-size: 2em;
    }
}

.header {
  background: darken($code-bg, 2%);

    a {
      display: inline-block;
      outline: none;
      text-decoration: none;
      color: #E7F2FA;

      &:hover {
        color: #FFFFFF;
      }
    }

    .nav {
        font-family: $title-font;
        width: 100%;
        text-align: center;
        color: $link-color;
        font-size: 2em;
        ul {
            padding: 0;
            margin: 0;
            li {
                @media screen and (max-width: 1200px) {
                    padding: 10px 5px;
                }

                display: inline-block;
                list-style: none;
                padding: 15px 30px;
                font-variant: small-caps;
            }
        }
    }

}
