{% extends "base.html" %}
{% block headtag %}
  {{super()}}
  <title>Muhammet Can :: {{post.title}}</title>
{% endblock %}
{% block body %}
  <body>

    <div class="header">
      <div class="nav">
        <ul>
          <li><a href="/">homepage</a></li>
          <li><a href="/">projects</a></li>
          <li><a href="/">about</a></li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="post-detail">


        <article>
          <h2 class="l">{{post.title}}</h2>
          {{post.content | safe }}
        </article>

      </div><!-- /post-detail -->

    </div> <!-- /container -->
  </body>

{% endblock %}
