{% extends "base.html" %}

{% block headtag %}
  {{ super() }}
  <title> Muhammet Can </title>
{% endblock %}

{% block body %}
  {% block header %}
    {{ super() }}
  {% endblock header %}
 <div class="container" style="padding-top: 40px;">
   <div class="col-xs-3 hidden-xs hidden-sm hidden-md">
     {% include "social.html" %}
   </div>

   <div class="col-xs-12 col-md-9">
     <div class="content">
       <ul>
       {% for post in posts %}
         <ol> - <a href="/{{post.slug}}/">{{post.title}}</a></ol>
       {% endfor %}
       </ul>
     </div>
   </div>
 </div>
 {% block footer %}
   {{ super() }}
 {% endblock footer%}

 {% block jsblock %}
  {{ super() }}
 {% endblock jsblock %}
{% endblock body %}
