<div class="social">
  <a href="https://twitter.com/jeffisabelle"><i class="fa fa-twitter"></i></a>
  <a href="http://tr.linkedin.com/in/muhammetcan/"><i class="fa fa-linkedin"></i></a>
  <a href="http://gplus.to/jeffisabelle"><i class="fa fa-google-plus"></i></a>
  <a href="https://github.com/jeffisabelle"><i class="fa fa-github"></i></a>
  <a href="http://stackoverflow.com/users/460281/muhammet-can"><i class="fa fa-stack-overflow"></i></a>
  <a href="https://news.ycombinator.com/user?id=jeffisabelle"><i class="fa fa-hacker-news"></i></a>

  <hr />
  e-mail <br />
  mc[at]muhammetcan.net
  <hr />
  freenode <br />
  jeffisabelle
  <hr />

  <a href="/">/home</a> <br />
  <a href="/">/var/projects</a> <br />
  <a href="/">/etc/me.conf</a> <br />
</div>
